*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial;
}

body {
    background-color: #0b3954;
}

.calc {
    width: 400px;
    margin: 100px auto;
}

.display {
    color: #ffffff;
    text-align: right;
    font-size: 60px;
    padding: 20px;
}

.keypad-table tr:first-child .key {
    background-color: #0C7C59 ;
}

.keypad-table tr:first-child .key:active {
    background-color: #a4a5ae;
}

.keypad-table td tr:last-child .key:active {
    background-color: #ff1053;
}

.key {
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    border-radius: 90px;
    margin: 5px;
    background-color: #5d5963;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}

.key:active {
    background-color: blue;
}